.sidebar {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top {
    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 20px;
      text-align: center;
    }
    &__lists {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__item {
        border-radius: 6px;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 7px;
        transition: 0.2s;
        padding: 14px;
        &__title {
          font-weight: 500;
          font-size: 18px;
        }
        &:hover {
          background-color: #fff;
          color: #000;
          cursor: pointer;
          transition: 0.2s;
        }
        &__active {
          background-color: #fff;
          color: #000;
          cursor: pointer;
          transition: 0.2s;
        }
      }
    }
  }
  &__bottom {
    &__button {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 6px;
      font-size: 16px;
      color: #000;
    }
  }
}
